<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= config.name %> - Free & Paid</title>
  <meta content="We are a service who give free and paid hosting." name="description">

  <meta content="hosting, host, free, paid, discord, ram, storage" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./parts/header') %> 
  <!-- End Header -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <main id="main">
    <section class="inner-page">
      <div class="container">
        <center>
          <h1><%= config.name %> Terms and Service</h2>

          <p>Terms of Service (also referred as "Terms") Mean these Terms of Service that form the entire agreement between You and the Company regarding the use of the Service.</p>
  
          <h1>Introduction</h1>
  
          <p>By using any of <%= config.name %> our services, including, the website, Discord server, panel, and more, 
            you (“customer”, “you”) we assume you accept these terms and conditions in full. Do not continue to use the <%= config.name %> website and products if you do not accept all of the terms and conditions stated on this page.</p>
  
          <h1>Cookied</h1>
          
          <p>We employ the use of cookies. By using <%= config.name %> website you consent to the use of cookies in accordance with <%= config.name %> Privacy Policy. We use cookies to store data when you log onto any of our sites.0</p>
  
          <h1>Accounts</h1>
  
          <p>You must be at least 13 years of age to use <%= config.name %>, enforced completely. <%= config.name %> reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their absolute discretion.</p>
  
          <h1>Suspesnion Of Server</h1>
  
          <p>We reserve the right to suspend or terminate your services upon any violation of these terms or in other cases deemed necessary for any reason whatsoever and at any time without prior notice.</p>
  
          <h1>Suport</h1>
  
          <p>We offer support via our Discord Server And Email System. Any other support method is NOT considered official and you will not be guaranteed a response. Using our support system to transmit any material that harasses another person, profanity, and threats are strictly forbidden and may result in your account being limited. Our support agents can only provide support for <%= config.name %> services and only to the customer that purchased the service.</p>
  
          <h1>Content</h1>
  
          <p>Refers to content such as server files, images and text, or other information that can be posted, uploaded, linked to or otherwise made available by You, regardless of the form of that content. It is usually made available on the Service.</p>
  
          <h1>Your Privacy</h1>
  
          <p>Please read our Privacy Policy</p></center>
      </div>
    </section>

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include('./parts/footer') %> 
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>